{% extends 'mainapp/products.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
	<link rel="stylesheet" href="{% static 'fonts/font-awesome/css/font-awesome.css' %}">
{% endblock %}


{% block content %}
		<div class="hero">
			<div class="header clearfix">
                {% include 'mainapp/includes/inc_main_menu.html' %}
			</div>
			<h1>наши контакты</h1>
		</div>

		<div class="location">
            {% for cont in contact %}
			<div class="location-1">
				<i class="fa fa-map-marker fa-5x"></i>
				<h4>{{ cont.city }}</h4>
				<div class="contacts">
					<h5>Телефон</h5>
					<p>{{ cont.phone }}</p>
				</div>
				<div class="contacts">
					<h5>Email</h5>
					<p>{{ cont.email }}</p>
				</div>
				<div class="contacts">
					<h5>Адрес</h5>
					<p>{{ cont.address }}</p>
				</div>
			</div>
            {% endfor %}
		</div>

{% endblock %}